html {
	scroll-behavior: smooth;
}

nav {
	position: fixed;
	background-color: rgb(158, 236, 247);
}

#navbar-main {
	top: 0;
	width: 100%;
	transition: top 0.3s;
  }
  
.logo-text {
	font-size: 2rem;
	color: #1937e2;
}

a.nav-link {
	font-size: 1.5rem;
	margin: 0 0.8rem;
}

.nav-link  {
    color: #f31616;
	border-radius: 15px !important;
	transition: 0.5s;
}

.nav-link:hover {
	background-color: #2ccee4
}

.navbar-brand {
 position: relative;
}

.content-container {
    height: 70vh;
    /* border: 2px solid red; */
}

.col-sm-3 {
	/* border: 2px solid red; */
	height: 50vh;
}

.form-button {
	margin-top: 0.3rem;
}

.logo-text {
	margin-left: 1rem;
	font-size: 2.3rem;
}

#results-section img {
	max-height: 100px;
}

.hidden {
	display: none;
}

.separator {
	height: 10rem;
}

hr { 
	margin-bottom: 5rem;
}

.dk-gr {
	color: #f31d1d;
}

.grey {
	color: 	#fc1313
  }

.dk-red {
	color: #4d0000
}

.hover-effect {
	border-radius: 20px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all .25s;
}

.hover-effect:hover {
	background-color: #f378ce;
	color: white;
	letter-spacing: 5px;
}

.hover-effect {
	margin: 1rem auto 0 auto;
	border: 2px solid #f36fe1;
	font-size: 1.3rem;
	color: #006400;
}

.active {
	background-color: rgba(210, 255, 210, 0.5) !important;
	color: #006400 !important;
}